@import "../node_modules/normalize.css/normalize.css";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.h3, h3 {
  font-size: calc(1.3rem + .6vw) !important;
}
